html
  head
    title css
    link(href='/main.v1.css', rel="stylesheet")
  body
    div
      h1 Foo
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!
    div
      h2 Bax
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!
    div
      h2 Bax
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!