html
  head
    title css
    link(href='/main.v2.css', rel="stylesheet")
  body
    div(class='section')
      h1(class='section__h1') Foo
      p(class='section__p') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!
    div(class='section')
      h1(class='section__h2') Bax
      p(class='section__p') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!
    div(class='section')
      h1(class='section__h2') Bax
      p(class='section__p') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illum iusto quaerat aperiam velit odit quod eligendi impedit sed explicabo. Dolor suscipit qui quas tempore mollitia obcaecati, illo ratione pariatur!